.wrapper {
  background: url(images/grass.jpg);
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.box h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
}

.fa-heart {
  color: white;
}

.fa-location-arrow {
  color: white ;
}

.fa-book {
  color: white;
}

.icons {
    list-style: none;
    position: relative;
    margin-left: 15px;
    padding: 0;
}

.fa.iconback{
    line-height: 30px;
}

.icons-item{
  color: #fff;
}

.iconback {
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: #938EA3;
    text-align: center;
}


div.iconback i {
top: -7px;
position: relative;
left: -7px;
}

.social {
  height: 50px;

  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.instagram {
height: 30px;
width: 30px;
margin-left: 10px;
margin-top: 10px;
}

.fb {
  height: 30px;
  width: 30px;

}

.pinterest {
  height: 30px;
  width: 30px;

}

.twitter {
  height: 30px;
  width: 30px;

}

.follow {
  height: 20px;
  width: 35px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 10px;
  padding-top: 3px;
  padding-left: 10px;

}

.followicon {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  padding-right: 6px;
  padding-top: 6px;

}

.thumbup {
  height: 35px;
  width: 35px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-top: -25px;
  margin-left: 15px;
}

.thumbupicon {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 4px;
}

.share {
  height: 35px;
  width: 35px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-left: 51px;
  margin-top: -51px;
}

.shareicon {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 4px;
}

.emailme {
  height: 35px;
  width: 85px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-top: -51px;
  margin-left: 87px;
}

.emailmeicon {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  padding-left: 1px;
  padding-top: 8px;

}

.textarea {
  color: white;
  font-family: Helvetica;
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.boxes {
margin-top: 60px;
height: 4200px;
width: 450px;
margin-left: 800px;

}

.instagram, .fb, .pinterest, .twitter, .follow {
padding-left: 33px;
}
