.wrapper {
  background: url(images/grass.jpg);
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 446px;
  border-radius: 10px;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  padding: 10px;
}

.box h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
}

.fa-heart {
  color: white;
}

.fa-location-arrow {
  color: white ;
}

.fa-book {
  color: white;
}

.icons {
  width: 100px;
  height: 50px;
  bottom: 210px;
  right: 450px;
  top: 350px;
  position: absolute;
}

.iconback {
height: 1px;
width: 1px;
padding: 15px;
color: white;
background-color: #938EA3;
border-radius: 50%;
}


div.iconback i {
top: -4px;
position: relative;
left: -6px;
}

.social {
  height: 50px;
  width: 520px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 518px;
  margin-left: 822px;
  margin-right: 58px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.instagram {
height: 30px;
width: 30px;
margin-left: 10px;
margin-top: 10px;
}

.fb {
  height: 30px;
  width: 30px;
  margin-left: 60px;
  margin-top: -45px;
}

.pinterest {
  height: 30px;
  width: 30px;
  margin-left: 110px;
  margin-top: -60px;
}

.twitter {
  height: 30px;
  width: 30px;
  margin-left: 160px;
  margin-top: -75px;
}

.follow {
  height: 30px;
  width: 75px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-left: 210px;
  margin-top: -92px;
}

.followicon {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  padding-left: 2px;
  padding-top: 6px;
}

.thumbup {
  height: 35px;
  width: 35px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-top: -25px;
  margin-left: 15px;
}

.thumbupicon {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 4px;
}

.share {
  height: 35px;
  width: 35px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-left: 51px;
  margin-top: -51px;
}

.shareicon {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 4px;
}

.emailme {
  height: 35px;
  width: 85px;
  background-color: #938EA3;
  border-radius: 5px;
  margin-top: -51px;
  margin-left: 87px;
}

.emailmeicon {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  padding-left: 1px;
  padding-top: 8px;

}
